*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.result__video {
  width: 100%;
  height: 100%;
  margin-left: 0;
  display: flex;
  justify-content: left;
  object-fit: cover;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-top: 211px;
}

.result {
  display: flex;
  flex-direction: column;
  width: 711px;
  height: 456px;
  margin-right: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.search-form__fieldset {
  border: none;
  width: fit-content;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 3px;
}

.search-form__textfield:active {
  border: white 1px solid;
}

.search-form__textfield:focus {
  border: white 1px double;
}

.search-form__textfield {
  line-height: 21.6px;
  border-bottom: white solid 1px;
  border-top: white solid 1px;
  border-left: none;
  border-right: none;
  width: 225px;
  appearance: none;
  margin-right: 12px;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

input {
  background: transparent;
}

.button {
  background: #1b1919;
  border: solid 1px white;
  color: white;
  width: 194px;
  height: 34px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  border: white double 2px;
}

.button:hover {
  text-decoration: underline;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
}

.search-form__label:focus {
  border: white 1px solid;
}

.title {
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
  font-family: "oswald", sans-serif;
  margin-top: 133px;
}

.content__accent {
  color: #545050;
}

.content__list {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 399px;
  height: 298px;
  margin-top: 25px;
  margin-right: 60px;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  display: flex;
  justify-content: flex-end;
  padding-top: 0;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.content__card-link {
  text-decoration: none;
  color: white;
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  border: white solid 1px;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  background-color: transparent;
  border: white solid 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after{
  content: "";
  background-color: white;
  display: block;
  width: 15px;
  height: 15px;
  margin-left: 1px;
  margin-top: 1px;
  opacity: 0;
}

.search-form__label-text {
  margin-right: 11px;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.more-button {
  width: 399px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-size: 30px;
  line-height: 30px;
}

.content__video-card-description {
  line-height: 16.2px;
  font-size: 18px;
}

.search-form__checkbox {
  display: inline;
}